@font-face {
	font-family: 'Regular';
	src: url('../fonts/Graphik-Regular.eot');
	src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Regular.woff') format('woff'),
		url('../fonts/Graphik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Semibold';
	src: url('../fonts/Graphik-Semibold.eot');
	src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Semibold.woff') format('woff'),
		url('../fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Medium';
	src: url('../fonts/Graphik-Medium.eot');
	src: url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Medium.woff') format('woff'),
		url('../fonts/Graphik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.website-background-black {
    background-color: white;
    overflow: hidden;
    background: radial-gradient(white,grey);
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;

    
}

#texto1, #texto2, #texto3 {
    pointer-events: none;
    position: relative;
}

.bg-photo {
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 667px;
    width: 750px;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0%;
    z-index: -10;

    -webkit-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	-moz-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);	
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}

@-webkit-keyframes bg-photo {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}

@keyframes bg-photo {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}
		@media screen and (max-width:480px) {
			.bg-photo {
				left: -8%;
			}	
		}

.text-color-black {
    color: black;
    font-size: 3rem;
    font-family: 'Semibold';
    text-shadow: 1px 0 0 #000;
    width: 50%;
   
    
    
    
}

.text-color-green {
    color: #25beb6;
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Semibold';
    position: relative;
    text-shadow: 1px 0 0 #16726d;
    
   
    

    
    
    
    
}

.mobile-tap {
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
    
    
}



.hide-text1 {
    position: relative;
    top: 10rem;
    left: 10%;
    display: none;
    max-height: 100vh;
    overflow: hidden;
    width: 52%;
    
}
 
.hide-text2 {
    position: relative;
    top: 10rem;
    max-height: 100vh;
    left: 15%;
    display: block;
    overflow: hidden;
    width: 50%;
    
}

.wall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
}

.toque {
    color: white;
    position: fixed;
    bottom: 10%;
    left: 30%;
    animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
    overflow: hidden;
    z-index: -5;
    
    
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-8px);
    }
}

/*@media screen and (min-width: 667px) {
    .bg-photo {
        left: 20%;
    }
    .text-color-black {
        font-size: 5rem;
    }
    .text-color-green {
        font-size: 5rem;
    }
    .toque {
        left: 40%;
        bottom: 10%;
    }
}*/

@media screen and (min-width: 768px) {
    .bg-photo {
        left: 40%;
        
    }
    .toque {
        left: 50%;
    }
   
    .hide-text1 {
        left: 15%;
        
    }
    .hide-text2 {
        left: 20%;
        
    }
    .text-color-black {
        font-size: 5rem;
    }
    .text-color-green {
        font-size: 5rem;
    }

}

@media screen and (min-width:1024px) {
    .toque {
        display: none;
    }
    

    .hide-text1 {
        left: 15%;
        top: 10rem;
        display: none;
    }

    .hide-text2 {
        left: 20%;
        top: 10rem;
        
    }

    .text-color-green {
        font-size: 6.5rem;
        animation: none;

    }

    .text-color-black {
        font-size: 6.5rem;
        animation: none;
    }

    .wall {
        display: none;
    }

    #texto1.mouseover {
        position: relative;
        left: 5%;
    }

    #texto1, #texto2, #texto3 {
        pointer-events: visible;
        
    }

}


@media screen and (min-width: 1200px)  {
    .bg-photo {
        width: 950px;
        
    }



    .hide-text1 {
        left: 20%;
    }
    .hide-text2 {
        left: 20%;
    }

    /*.text-color-black {
        font-size: 10rem;
    }
    .text-color-green {
        font-size: 10rem;
    }*/
}

@media screen and (min-height: 1080px) {
    .hide-text1 {
        top: 15rem;
    }
    .hide-text2 {
        top: 15rem;
    }
    .bg-photo {
        width: 1200px;
    }
}

@media screen and (min-width: 1920px) {
    .hide-text1 {
        left: 20%;
        top: 15rem;
    }
    .hide-text2 {
        left: 20%;
        top: 15rem;
    }

    .text-color-black {
        font-size: 8rem;
    }
    .text-color-green {
        font-size: 8rem;
    }
    .bg-photo {
        width: 1200px;
        
    }
}



.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: black;
    box-shadow: black 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: -1000;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}