/*Fontes*/
@font-face {
	font-family: 'Semibold';
	src: url('../fonts/Graphik-Semibold.eot');
	src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Semibold.woff') format('woff'),
		url('../fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/*geral*/
html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    
    
    
}

body::-webkit-scrollbar {
    width: 1em;
    }
    body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    }
    body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    
    }

a:hover {
    text-decoration: none;
    
}
/* cor de fundo */
.bg-grey {
    width: 100vw;
    
    overflow-x: hidden;
    background: radial-gradient(white,grey);
    

    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    
}
/* logo */
.logo {
    font-family: 'Semibold';
    font-size: 1.2rem;
    
    margin-left: 2rem;
    color: #11938d;
    text-shadow: 1px 0 0 #16726d;
    
}
a:hover {
    color: #11938d;
}

.mobile-logo {
    width: 20%;
    
    margin-left: 2rem;
    display: block;
    text-shadow: 1px 0 0 #16726d;
}

.desk-logo {
    width: 20%;
    position: relative;
    margin-left: 2rem;
    text-shadow: 1px 0 0 #16726d;
    display: none;
}

/* secao contato */


.contato {
    
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.contato-titulo {
    text-align: center;
    
    font-size: 2.5rem;
    
    margin-top: 2rem;
}

.contato-text {
    font-size: 1rem;
    text-align: left;
    margin-top: .2rem;
    
    margin-bottom: 2.1rem;
    font-weight: normal;
    font-family: initial;
    color: rgba(0,0,0, 0.7);
}



footer {
    background-color: rgba(0, 0, 0, 0.6);
    height: 5rem;
    max-width: 100vw;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: none;
    vertical-align: top;
    
    
    
}

.copyright {
    color: white;
    position: relative;
    font-family: initial;
    font-size: 1rem;
    overflow: hidden;
    bottom: .3rem;
    
}

.fab {
    color: rgba(37, 190, 182, 0.5);
    font-size: 2rem;
    height: 3rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .2rem;
    
    
}

.fab:hover {
    color: rgba(37, 190, 182, 1);
}


@media screen and (min-width:768px) {
    .contact100-form-title {
        font-size: 3rem;
    }
    .contato-text {
        font-size: 1.5rem;
    }

    .mobile-logo {
        font-size: 2rem;
    }
    
}

@media screen and (min-width:1024px) {
    .mobile-logo {
        display: none;
    }
    .desk-logo {
        display: block;
        font-size: 2rem;
    }

    .desk-logo:hover {
        color: #11938d;
    }
}

@media screen and (min-width: 600px) {
    .desk-logo {
        font-size: 4rem;
    }
}




/*@media screen and (min-height: 896px) {
    .contato {
        height: 100%;
    }
}*/


