/*Fontes*/

@font-face {
	font-family: 'Semibold';
	src: url('../fonts/Graphik-Semibold.eot');
	src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Semibold.woff') format('woff'),
		url('../fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


/*geral*/
html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: 'Open Sans';
    
}

body::-webkit-scrollbar {
    width: 1em;
    }
    body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    }
    body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    
    }

a:hover {
    text-decoration: none;
    
}
/* cor de fundo */
.bg-grey {
    background-color: white;
    overflow-x: hidden;
    background: radial-gradient(white,grey);
    width: 100vw;
    height: 100vh;

}

.logo {
    font-family: 'Semibold';
    font-size: 1.2rem;
    position: relative;
    margin-left: 2rem;
    color: #11938d;
    text-shadow: 1px 0 0 #16726d;
    
}

.mobile-logo {
    width: 20%;
    position: relative;
    margin-left: 2rem;
    display: block;
    text-shadow: 1px 0 0 #16726d;
}

.desk-logo {
    width: 20%;
    position: relative;
    margin-left: 2rem;
    text-shadow: 1px 0 0 #16726d;
    display: none;
    top: 3rem;
}

/*cardssss*/

.main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
.main-titulo {
    font-size: 2rem;
    font-family: 'Semibold';
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.main-texto {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 2rem;
    
    
}


  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #16726d;
  }
  
  .btn:hover {
    background-color: #0f504c;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #232526, #414345);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: capitalize;
    
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    font-family: 'Open Sans';
    margin-bottom: 1.25rem;    
    font-weight: 400;
    margin-top: 1rem;
  }

/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 5rem;
    text-align: center;
    position: relative;
    top: 2rem;
    font-family: initial;
    
}

.copyright {
    color: white;
    position: relative;
    font-family: none;
    font-size: 1rem;
    
}

.fab {
    color: rgba(37, 190, 182, 0.5);
    font-size: 2rem;
    height: 3rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .2rem;
}

.fab:hover {
    color: rgba(37, 190, 182, 1);
}

  