/*Fontes*/

@font-face {
	font-family: 'Semibold';
	src: url('../fonts/Graphik-Semibold.eot');
	src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik-Semibold.woff') format('woff'),
		url('../fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


/*geral*/
html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    
}

body::-webkit-scrollbar {
    width: 1em;
    }
    body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    }
    body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    
    }

a:hover {
    text-decoration: none;
    
}
/* cor de fundo */
.bg-grey {
    background-color: white;
    overflow-x: hidden;
    background: radial-gradient(white,grey);
    width: 100vw;
    height: 100%;

}
/* logo */
.logo {
    font-family: 'Semibold';
    font-size: 1.2rem;
    position: relative;
    margin-left: 2rem;
    color: #11938d;
    text-shadow: 1px 0 0 #16726d;
    
}

.mobile-logo {
    width: 20%;
    position: relative;
    margin-left: 2rem;
    display: block;
    text-shadow: 1px 0 0 #16726d;
}

.desk-logo {
    width: 20%;
    position: relative;
    margin-left: 2rem;
    text-shadow: 1px 0 0 #16726d;
    display: none;
    top: 3rem;
}
/* seção sobre */

.sobre {
    margin-left: 15%;
    margin-right: 15%;
}

.sobre-titulo {
    text-align: center;
    font-family: 'Semibold';
    font-size: 2.5rem;
    position: relative;
    top: 2rem;
    margin-top: 2rem;
}

.sobre-text {
    
    font-size: 1rem;
    text-align: left;
    
    position: relative;
    margin-top: 2.5rem;
    
    color: rgba(0,0,0, 0.7);
}

.sobre-titulo2 {
    text-align: center;
    font-family: 'Semibold';
    font-size: 2.5rem;
    position: relative;
    top: 2rem;
    
}

.sobre-text2 {
    
    font-size: 1rem;
    text-align: left;
    
    position: relative;
    margin-top: 2.5rem;
    
    color: rgba(0,0,0, 0.7);
}

.gamer {
    color: blue;
}

/*Habilidades*/

.habilidades {
    height: 100%;
    width: 100%;
    background-color: none;
    
}




.hab-titulo {
    text-align: center;
    
    font-size: 2.5rem;
    position: relative;
    margin-top: 2rem;
    
}

.progress {
    height: 35px;
    width: 65%;
    position: relative;
    left: 4rem;
    margin-top: 1.5rem;
    
  
}
.progress .skill {
    font: normal 12px "Open Sans Web";
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 5px 0 0;
    
}

.progress {
    position: relative;
    left: 14%;
    max-width: 100%;
    margin-left: 1rem;
}
  
.progress-bar {
    text-align: left;
    transition-duration: 3s;
    background-color: #11938d;
    max-width: 100%;
    
    
    
}

.row {
      position: static;
      top: 5rem;
      
}


/**slider*/
* {
    box-sizing: border-box;
}
  



.slider-titulo {
    text-align: center;
    
    font-size: 2rem;
    position: relative;
    
    margin-bottom: 2rem;
    
    
}

.sliderino {
    height: 2rem;
    margin: 0 auto;
    height: 8rem;
    
}

.slides {
    
    height: 10rem;
    
    
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    text-align: center;
    
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: relative;
}
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;;
}

.slider-text {
    position: relative;
    top: 6rem;
    left: .3rem;
}
  
.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(37, 190, 182, 0.5);;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    display: none;;
}


.slider > a:active {
    top: 1px;
}





.slider-link.active {
    text-decoration: none;
    color: white;
}

.icon {
    position: absolute;
    left: 8rem;
    top: 3rem;
    color: #11938d;
   
}



/* curriculo */

.curriculo {
    position: relative;
    text-align: center;
    top: 1rem;
}
.animar {
    text-align: center;
}
.pdf {
    text-decoration: underline;
    color: #428bca;
    margin-left: .2rem;
}

/* flecha projetos */
.flecha-projetos {
    font-size: 1.6rem;
    position: relative;
    bottom: -6rem;
    text-align: center;
    margin: 0 auto;
    
}

.animar2 {
    text-align: center;
}

.flecha-projeots:hover {
    text-decoration: none;
    font-style: none;
    color: black;
}

.flecha {
    margin-left: .7rem;
    color: #11938d;
    animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
    
}

@keyframes bounce {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-8px);
    }
}



footer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 5rem;
    text-align: center;
    position: relative;
    top: 8rem;
    font-family: initial;
    
}

.copyright {
    color: white;
    position: relative;
    font-family: none;
    font-size: 1rem;
    
}

.fab {
    color: rgba(37, 190, 182, 0.5);
    font-size: 2rem;
    height: 3rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .2rem;
}

.fab:hover {
    color: rgba(37, 190, 182, 1);
}


@media screen and (min-width: 768px) {
    .sobre-titulo {
        font-size: 3.5rem;
    }

    .sobre-text{
        font-size: 1.5rem;
    }

    .sobre-titulo2 {
        font-size: 3.2rem;
    }

    .sobre-text2{
        font-size: 1.5rem;
    }

    .mobile-logo {
        font-size: 2rem;
    }
    
    .slider-titulo {
        font-size: 2.5rem;
    }

    .slides {
        height: 10rem;
        transform: scale(1.1);
    }

    .slides > div {
        width: 300px;
        height: 300px;
        
    }

    .curriculo {
        font-size: 1.4rem;
    }

    .flecha-projetos {
        font-size: 2rem;
    }

    .progress-bar {
        font-size: 3rem;
        
    }
}

@media screen and (min-width: 1024px) {
    .mobile-logo {
        display: none;
    }
    .desk-logo {
        display: block;
        font-size: 3rem;
        text-shadow: 1px 0 0 #16726d;
    }

    .desk-logo:hover {
        color: #11938d;
    }

    

    
}

@media screen and (min-width: 1600px) {
    .sobre {
        margin-left: 25%;
        margin-right: 25%;
    }

    .desk-logo {
        font-size: 4rem;
    }
}