.animate {
	-webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}


@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
/* 	0% {transform: translateY(100%);} */
	100% {opacity: 1;transform: translateY(0%);}	
}

/* ------ Delays ------ */
.delay02 { -webkit-animation-delay: .2s; animation-delay: .2s;}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delay06 { -webkit-animation-delay: .6s; animation-delay: .6s;}
.delay08 { -webkit-animation-delay: .8s; animation-delay: .8s;}
.delay10 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.delay12 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s;}